{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {{ path }}
    <div class="row my-3">
        <div class="col">
            Creating {{ content_type }} for {{ module }} module in {{ course }} course.
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success my-3" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
