<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        fetchSubjects();
        var loginForm = $('.login-form')
        loginForm.submit(function(event){
            event.preventDefault();
            var thisForm = $(this)
            var httpMethod = thisForm.attr('method')
            var formEndpoint = thisForm.attr('action')
            var formData = thisForm.serialize();
            //pokazać ładowanie
            $('#username').prop('disabled', true)
            $('#password').prop('disabled', true)
            $.ajax({
                url: formEndpoint,
                method: httpMethod,
                data: formData,
                success: function(data){
                    console.log(data)
                    loginForm[0].reset();
                    if (data.full_name){
                        $('.user-name-display').text(data.full_name)
                    } else {
                        $('.user-name-display').text(data.username)
                    }
                    
                    $('.navbar-user-control').css('display', '')
                    $('.navbar-login-button').css('display', 'none')
                    $('.subjects').css('display', '')
                    fetchSubjects();
                    $('#exampleModal').modal('hide')
                    //zakończyć ładowanie
                    },
                error: function(errorData){
                    $('#username').addClass('is-invalid').prop('disabled', false)
                    $('#password').addClass('is-invalid').prop('disabled', false)
                    $('#passwordHelpBlock').html(errorData.responseJSON.message).css('display', '')
                    $('.login-help-info').css('display', '')
                    console.log("error")
                    console.log(errorData)
                    },
                })
            })
        function fetchSubjects() {
            subjects = [{ name: 'Algebra z Geometrią Analityczną II 2020', 'id': 4}, { name: 'Algebra z Geometrią Analityczną II 2020', 'id': 4}]
            var subjectsList = $('.subjects > div > .subjects-list')
            subjectsList.html('')
            subjects.forEach((obj) => {
                subjectsList.append(`<a class="dropdown-item" href="#">${obj.name}</a>`)
            })
            
            subjectsList.html('<a class="dropdown-item" href="#">Algebra z Geometrią Analityczną II 2020</a><a class="dropdown-item" href="#">Algebra z Geometrią Analityczną II 2020</a>')
        }
        var loginFormSubmitButton = $('.login-form-submit')
        loginFormSubmitButton.click(function(){
            loginForm.submit();
        })
    })
</script>