{% extends "base.html" %}

{% block content %}
<div class="container">
    {{ path }}
    <div class="row">
        <div class="col-12">
            <h4>Active Gradebooks</h4>
            <div class="list-group">
                {% for gradebook in object_list %}
                    {% if gradebook.is_open %}
                        <a href="{{ gradebook.get_absolute_url }}" class="list-group-item list-group-item-action">{{ gradebook }}</a>
                    {% else %}
                        <a href="{{ gradebook.get_absolute_url }}" class="list-group-item list-group-item-light">{{ gradebook }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}