{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-10 mx-auto">
        <h2>Contact</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor facilisis felis, sed pretium turpis convallis ac. Aliquam accumsan lacinia velit in mollis. Ut ac purus quis ex lacinia volutpat. Proin ac egestas quam, in vehicula metus. Curabitur euismod sed turpis nec posuere. Morbi varius est a suscipit dictum. Donec congue, nulla quis aliquam fringilla, mi mi fermentum ex, at cursus ex sapien eu velit. Suspendisse vulputate pellentesque nibh vel consectetur. Mauris iaculis ipsum nisl, id pulvinar elit tristique sagittis. Curabitur vel massa tempus, volutpat lectus non, malesuada eros. Nullam quam nibh, euismod commodo aliquam non, sagittis tempor massa. Nullam tristique, nulla sed tristique scelerisque, enim sem lobortis nibh, et eleifend arcu justo et lorem. Maecenas consectetur sem sed elit accumsan scelerisque. Duis cursus lorem id augue laoreet tristique.
            <br/>
            Ut vulputate magna vitae felis euismod fringilla. Cras lacus augue, commodo vitae risus id, eleifend posuere eros. Sed pulvinar dapibus urna in pulvinar. Fusce porttitor blandit lorem, ac dictum felis laoreet at. Fusce iaculis turpis nec maximus commodo. Duis at maximus nisi. Ut volutpat euismod eros dignissim bibendum. Maecenas vel arcu placerat, semper purus a, semper turpis. Morbi porta nisi ipsum, in vehicula nisl congue laoreet. Aliquam pharetra elit metus, eget porttitor nisi elementum vitae. Donec tristique nisl felis, sit amet elementum est tincidunt dignissim. Nam vulputate sagittis metus. Maecenas vestibulum libero tortor, at ullamcorper diam dignissim ut.
        </p>
    </div>
</div>
{% endblock %}