{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-5">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input name="count" value="1" type="hidden" />
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-7">
            <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
                {% for admin in admins %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                {{ admin.user }}
                            </div>
                            <div class="col-4">
                                <a class="btn btn-info small" href="{% url 'courses:update_course_admin' course.slug admin.id %}">Update</a>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-danger small" href="{% url 'courses:delete_admins' course.slug admin.id %}">Delete</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
              </ul>
        </div>
    </div>
</div>
    
{% endblock %}
