{% extends 'base.html' %}

{% block content %}
<div class="container">
    {{ path }}
    <div class="row">
        <div class="col-8">
            <h2>{{ object.title }}</h2>
            <p>{{ object.overview }}</p>
            <p>Updated: {{object.updated }}</p>
            <p>Created: {{object.created }}</p>
        </div>
        <div class="col-4">
            <button class="btn btn-success course-add-module-button">Add module</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for module in object.module_set.all %}
                <li class="list-group-item">
                    <div class="row my-2">
                        <div class="col-8">
                            <h4><b>{{ module.order }}.</b>&nbsp;{{ module.title }}</h4>
                        </div>
                        <div class="col-4 text-right">
                            {% if module.visible %}
                                <button type="button" data-id="{{ module.id }}" data-endpoint="{% url 'courses:show_module' module.id %}" class="btn btn-secondary module-hide">Hide</button>
                            {% else %}
                                <button type="button" data-id="{{ module.id }}" data-endpoint="{% url 'courses:show_module' module.id %}" class="btn btn-primary module-hide">Show</button>
                            {% endif %}
                            <button type="button" data-id="{{ module.id }}" class="btn btn-success module-add-text">Add</button>
<!--                            <a href="{% url 'courses:create_file' course.slug module.id %}" class="btn btn-success">Add</a>-->
                            <button type="button" data-id="{{ module.id }}" data-endpoint="{% url 'courses:edit_module' module.id %}" data-moduletitle="{{ module.title }}" data-moduledesc="{{ module.description }}" data-visible="{{ module.visible }}" class="btn btn-success module-desc-edit">Edit</button>
                            <button type="button" data-id="{{ module.id }}" data-endpoint="{% url 'courses:delete_module' module.id %}" data-moduletitle="{{ module.title }}" class="btn btn-danger module-delete">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                {% for content in module.content_set.all %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">
                                            <a href="{{ content.item.get_absolute_url }}">{{ content.order }}. {{ content.item.title }}</a>
                                            <p>Created: {{ content.item.created }}</p>
                                            <p>{{ content.content_type }}</p>
                                        </div>
                                        <div class="col-4 text-right">
                                            {% if content.visible %}
                                                <button type="button" data-id="{{ content.id }}" data-endpoint="{% url 'courses:show_hide_content' content.id %}" class="btn btn-secondary content-hide">Hide</button>
                                            {% else %}
                                                <button type="button" data-id="{{ content.id }}" data-endpoint="{% url 'courses:show_hide_content' content.id %}" class="btn btn-primary content-hide">Show</button>
                                            {% endif %}
                                            <button
                                                type="button"
                                                data-id="{{ content.id }}"
                                                data-title="{{ content.item.title }}"
                                                data-type="{{ content.content_type }}"
                                                data-visible="{{ content.visible }}"
                                                data-text="{{ content.item.content }}"
                                                data-file="{{ content.item.file }}"
                                                class="btn btn-success content-edit"
                                            >Edit</button>
<!--                                            <a href="{% url 'courses:update_text' content.item.id %}?next={{ request.path }}">Edit</a>-->
                                            <button type="button" data-id="{{ content.id }}" data-endpoint="{% url 'courses:delete_content' content.id %}" data-contenttitle="{{ content.item.title }}" class="btn btn-danger content-delete">Delete</button>
                                            <div class="btn-group-vertical btn-group-sm">
                                                <button type="button" class="btn btn-secondary move-content" data-id="{{ content.id }}" data-direc="up" data-endpoint="{% url 'courses:move_content' %}"><i class="fas fa-arrow-up"></i></button>
                                                <button type="button" class="btn btn-outline-secondary">{{ content.order }}</button>
                                                <button type="button" class="btn btn-secondary move-content" data-id="{{ content.id }}" data-direc="down" data-endpoint="{% url 'courses:move_content' %}"><i class="fas fa-arrow-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    
                </li>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'courses/snippets/add_content_modal.html' with forms=forms %}
{% include 'courses/snippets/info_modal.html' with object=object %}
{% include 'courses/snippets/add_module_modal.html' with form=forms.module %}
{% include 'courses/snippets/delete_confirm_modal.html' %}
{% endblock %}