{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="row">
                <div class="col">
                    {% include 'courses/snippets/category_breadcrumb.html' with categories=object.get_category_tree last_obj=object %}
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <h1>{{ object.title }}</h1>
                        <p>
                            {% if object.owner %}
                            Owner <a href="{% url 'accounts:user_detail' object.owner.pk %}">{{ object.owner.full_name }}</a><br/>
                            {% endif %}
                            Updated {{object.updated }}
                        </p>
                    <p>{{ object.overview }}</p>
                </div>
                <div class="col-3 py-3">
                  {% if user not in object.participants.all %}
                    <button class="btn btn-success btn-lg enroll-btn">Enroll</button>
                  {% else %}
                  <h3 class="text-muted">You already enrolled</h3>
                  {% endif %}
                </div>
            </div>
            
            {% for module in object.module_set.all %}
              {% if module.visible %}
              <div class="card my-3">
                  <div class="card-header">
                    {{ module.title }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{ module.description }}</p>
                      <footer class="blockquote-footer">{{ module.created }}</footer>
                    </blockquote>
                    {% if user in object.participants.all %}
                    <ul>
                        {% for content in module.content_set.all %}
                          {% if content.visible %}
                            <li><a href="{{ content.item.get_absolute_url }}">{{ content.item.title }}</a></li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'courses/snippets/enroll_modal.html' with object=object %}
{% include 'courses/snippets/info_modal.html' with object=object %}
{% endblock %}
