{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            {% include 'courses/snippets/category_breadcrumb.html' with categories=object.get_category_tree %}
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="list-group mt-3">
                {% if object_list %}
                <div class="card my-3">
                    <div class="card-header">
                        {{ object.name }}
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for course in object_list %}
                                <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% for category in categories %}
                    <div class="card my-3">
                        <div class="card-header">
                            {{ object.name }} / <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for course in category.course_set.all %}
                                    <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}