{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="{% url 'courses:create' %}">Add Course</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group mt-4">
                {% for course in object_list %}
                    <li class="list-group-item">
                       <div class="row">
                           <div class="col-12 col-md-8 px-auto">
                               <a href="{% url 'courses:course_home' course.slug %}"><h3>{{ course.title }}</h3></a>
                           </div>
                           <div class="col-12 col-md-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-primary text-white">
                                        Actions <span class="badge badge-light">9</span>
                                        <span class="sr-only">unread messages</span>
                                    </a>
                                    <a href="{% url 'courses:add_content' course.slug %}" class="btn btn-success">Add</a>
                                    <a href="{% url 'courses:update' course.slug %}" class="btn btn-secondary">Edit</a>
                                    <a href="{% url 'courses:delete' course.slug %}" class="btn btn-danger course-delete-btn">Delete</a>
<!--                                    <a href="{% url 'courses:delete' course.slug %}" data-title="{{ course.title }}" class="btn btn-danger course-delete-btn">Delete</a>-->
                                </div>
                           </div>
                       </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include 'courses/snippets/course_delete_modal.html' %}
{% include 'courses/snippets/info_modal.html' %}
{% endblock %}

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cras justo odio
      <span class="badge badge-primary badge-pill">14</span>
    </li>
  </ul>