{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h4 class="mb-0 mt-1">My courses</h4>
                        </div>
                        <div class="col-12 col-md-4 text-right">
                            <div class="btn-group btn-action-group">
                                <a class="btn btn-light btn-sm" href="{% url 'courses:create' %}">Add Course</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for course in object_list %}
                        <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-8 px-auto">
                                <a href="{% url 'courses:course_home' course.slug %}"><h3>{{ course.title }}</h3></a>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="btn-group btn-action-group">
                                    <a class="btn btn-light">
                                        Actions <span class="badge badge-secondary">9</span>
                                        <span class="sr-only">unread messages</span>
                                    </a>
                                    <a href="{% url 'courses:add_content' course.slug %}" class="btn btn-light">Add</a>
                                    <a href="{% url 'courses:update' course.slug %}" class="btn btn-light">Edit</a>
                                    <a href="{% url 'courses:delete' course.slug %}" class="btn btn-light course-delete-btn">Delete</a>
<!--                                    <a href="{% url 'courses:delete' course.slug %}" data-title="{{ course.title }}" class="btn btn-danger course-delete-btn">Delete</a>-->
                                </div>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if admin_courses %}
            <div class="card mt-4">
                <div class="card-header">
                    <h4 class="mb-1 mt-1">Administrated courses</h4>
                </div>
                <ul class="list-group list-group-flush">
                    {% for admin_course in admin_courses %}
                        {% with course=admin_course.course %}
                        <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-8 px-auto">
                                <a href="{% url 'courses:course_home' course.slug %}"><h3>{{ course.title }}</h3></a>
                            </div>
                            <div class="col-12 col-md-4">
                                    <div class="btn-group btn-action-group">
                                        <a class="btn btn-light">
                                            Actions <span class="badge badge-secondary">9</span>
                                            <span class="sr-only">unread messages</span>
                                        </a>
                                        {% if admin_course.can_edit_content %}
                                        <a href="{% url 'courses:add_content' course.slug %}" class="btn btn-light">Add</a>
                                        {% else %}
                                        <a href="#" class="btn btn-light" disabled>Add</a>
                                        {% endif %}

                                        {% if admin_course.can_edit_course %}
                                        <a href="{% url 'courses:update' course.slug %}" class="btn btn-light">Edit</a>
                                        {% else %}
                                        <a href="#" class="btn btn-light" disabled>Edit</a>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include 'courses/snippets/course_delete_modal.html' %}
{% include 'courses/snippets/info_modal.html' %}
{% endblock %}

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cras justo odio
      <span class="badge badge-primary badge-pill">14</span>
    </li>
  </ul>