<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}
    <title>E-Learning</title>
  </head>
  <body>
    {% include 'base/navbar.html' %}
    
    <div class="container">
        {% block content %}{% endblock %}      
    </div>

    {% include 'accounts/snippets/login_modal.html' %}
    
    {% include 'base/js.html' %}
    
  </body>
</html>