<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-modal" href="#">Poczta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-modal" href="#">WebDziekanat</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Moje przedmioty
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Algebra z Geometrią Analityczną II 2020</a>
                    <a class="dropdown-item" href="#">Elementy Analizy Matematycznej I 2019/20</a>
                    <a class="dropdown-item" href="#">Elementy Analizy Matematycznej II 2020</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Przedmioty</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wirtualne Wydziały
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">WEEIA</a>
                    <a class="dropdown-item" href="#">WIPOS</a>
                    <a class="dropdown-item" href="#">Port</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kamil Nowak
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-columns"></i> &nbsp;Kokpit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i>&nbsp; Modyfikuj Profil</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-chart-line"></i> &nbsp;Oceny</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cog"></i>&nbsp; Preferencje</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-calendar-week"></i> &nbsp;Kalendarz</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link btn btn-light mr-4" data-toggle="modal" data-target="#exampleModal" href="#">Login</a>
        </div>
    </nav>
    
    
    <div class="container">
        <div class="row">
            <h1>Hello, world!</h1>
            <div class="col-10 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus lacinia libero, et ultrices sem iaculis vel. Sed non hendrerit ante. Sed efficitur ultrices fermentum. Morbi sem velit, ullamcorper vitae libero vel, lacinia rhoncus massa. Maecenas massa enim, aliquam ut varius sit amet, placerat sit amet velit. Aliquam euismod eget augue sit amet mollis. Duis blandit, mauris at congue laoreet, lorem eros facilisis mauris, vitae ullamcorper eros nibh sed nisi. In hac habitasse platea dictumst. Maecenas metus lorem, varius fermentum urna eu, efficitur aliquam mi. Vivamus porta sem pellentesque suscipit aliquam. Sed vel sem in arcu ornare feugiat ullamcorper vel nisl. In efficitur semper turpis, sit amet tincidunt mauris gravida ac. Phasellus sit amet magna nec ante mattis eleifend at nec odio. Fusce aliquam nulla blandit metus suscipit tristique.

Donec tempus auctor volutpat. Aenean gravida eget libero at euismod. Phasellus sed diam leo. Nunc at lorem vitae mauris bibendum venenatis ac eget dolor. Ut vel auctor leo. Etiam est velit, varius ut tempus a, pulvinar in dolor. Sed sodales nibh massa, sed sollicitudin sapien ornare a. Ut tristique libero sit amet odio vehicula venenatis. In eget sem eros. Sed sed tristique lorem, sit amet efficitur erat. Integer in lectus ac ex imperdiet ultricies non sed arcu. Nunc sed euismod odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus dictum odio sed sapien ullamcorper rhoncus.

Aenean vitae malesuada orci. Cras odio justo, volutpat venenatis quam id, tempus rutrum erat. In in imperdiet augue. Curabitur malesuada sollicitudin mi non laoreet. Nullam placerat efficitur nisl, at placerat ipsum pellentesque et. Curabitur interdum porta ligula sed gravida. Duis egestas metus vel purus placerat bibendum. Integer molestie luctus pretium. Duis ultrices cursus laoreet. Vivamus vitae imperdiet libero. Vivamus ut pulvinar arcu. Etiam ultrices ipsum pellentesque, tincidunt elit a, consectetur est. Nulla facilisi.

Integer tincidunt volutpat quam fringilla dapibus. Phasellus vel urna sed ex posuere aliquet. Mauris pellentesque odio in arcu finibus mollis. Vivamus quis nisi quis dolor vehicula pulvinar. Praesent sodales arcu vel massa pellentesque placerat. Pellentesque vulputate dapibus dui vel mattis. In hac habitasse platea dictumst. Suspendisse potenti. Suspendisse at efficitur libero. Praesent non pharetra odio, ac pulvinar justo. Donec mauris justo, venenatis tincidunt dignissim quis, pellentesque vitae urna. Aliquam dapibus congue cursus. Pellentesque sit amet commodo lectus. Phasellus eros tellus, tristique vehicula vehicula nec, finibus eget ligula. Nulla orci erat, suscipit interdum vehicula id, eleifend non neque.

Curabitur nisi tellus, dapibus sed sapien quis, pharetra mollis tortor. Vivamus laoreet tortor fringilla tincidunt pretium. Fusce lacinia mauris sit amet dapibus mattis. Etiam maximus sapien velit, quis lobortis magna imperdiet vitae. Nam et tincidunt enim. Vivamus aliquam lacinia vehicula. Etiam sit amet ex sit amet urna luctus maximus quis ac enim.

Aenean eu tellus vulputate, mattis sem ut, pellentesque purus. Integer cursus nisl ac sollicitudin scelerisque. Aenean id interdum magna. Duis aliquet magna sapien, at pulvinar elit blandit in. Cras facilisis, justo vel cursus rhoncus, felis elit blandit tellus, vitae dignissim turpis purus ut odio. Donec vehicula, ex nec luctus suscipit, arcu odio tempus urna, quis scelerisque mauris dui in lectus. In turpis sapien, auctor nec varius quis, venenatis quis massa. Pellentesque nunc sem, rhoncus quis vestibulum non, malesuada a tellus. Sed a ligula ex. In dignissim id mauris at pharetra. Pellentesque imperdiet, dui id venenatis auctor, urna eros laoreet felis, gravida sagittis mi nunc sit amet elit. Nulla laoreet imperdiet nulla, eget elementum arcu elementum vitae. Nullam ac lacinia diam, non iaculis nulla. Maecenas ut eros ultricies, feugiat odio sed, gravida urna. Donec imperdiet hendrerit neque in tempus.

Nullam quis mi ex. Donec libero erat, lacinia quis interdum scelerisque, dictum sit amet nisl. Aliquam scelerisque lacus elit, vitae luctus nisi fringilla et. Nam sed leo iaculis, elementum lorem sed, lacinia elit. Quisque euismod velit eu tempor auctor. Donec eu magna fringilla, hendrerit risus quis, sollicitudin dolor. Morbi pellentesque erat sit amet rhoncus interdum. Aenean eu fringilla lectus, eget cursus nunc. Proin varius nisi ullamcorper nunc suscipit faucibus. Integer accumsan odio ac dui porttitor dapibus quis dignissim ex. Suspendisse laoreet sem dignissim, tempus orci eget, efficitur eros. Quisque vel augue sit amet nulla aliquam blandit maximus ac diam. Etiam libero lorem, tincidunt quis lobortis id, porta ut diam.

Curabitur non augue lorem. Quisque ac tempor metus, non luctus orci. Etiam fringilla consequat tempus. In id blandit orci. Aenean egestas, metus eget semper varius, lectus erat consequat erat, dignissim rhoncus ligula risus et magna. Donec viverra, tellus suscipit vulputate consectetur, odio ante accumsan nisl, a ultricies velit nisi vel sapien. Mauris condimentum ac sapien at interdum. Morbi feugiat aliquam fringilla. Ut et velit ut mi viverra accumsan. Phasellus tempus augue turpis, a varius arcu interdum nec. Duis tempor eu justo eu posuere. Quisque porta, sem et imperdiet suscipit, nisi libero pulvinar massa, a finibus lorem nunc at eros. Aenean mattis urna felis, eget tincidunt eros vulputate nec. Nunc in rutrum elit. Mauris volutpat nisl id orci aliquam finibus.

Pellentesque et odio nec ligula placerat faucibus. In sit amet nisi sem. Proin blandit augue eu orci imperdiet ultricies. Duis semper quis risus vitae egestas. Phasellus id erat et risus condimentum fringilla eu in dui. Suspendisse rhoncus felis quis metus tincidunt scelerisque. Aenean non nisi id dui gravida maximus. Nunc et molestie turpis. Aenean orci neque, ultrices nec sollicitudin in, viverra vitae orci. Pellentesque ultricies elementum mi, id ultrices arcu facilisis in. Mauris accumsan rutrum leo, vel ultrices nulla congue quis.

Vivamus tincidunt ex non diam tempor malesuada. Vivamus consequat tincidunt sem. Nullam aliquet fringilla tortor. Donec nibh enim, pellentesque a erat ut, imperdiet maximus sem. Sed tincidunt libero vitae orci molestie, non feugiat eros bibendum. Donec non nisl id nisi auctor convallis. Mauris tristique, eros eu bibendum dapibus, nisl metus venenatis neque, nec scelerisque leo ante at urna. Aenean non semper erat. Vestibulum at arcu ut orci hendrerit auctor.
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header text-white bg-info" style="background-color: #8a1002;">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-6 mx-auto">
                        <img class="card-img-top mx-auto" src="https://cas.p.lodz.pl/cas/images/kaf_pl.png" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-6 ml-auto text-right">
                                <h5>Languages</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Login:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Password:</label>
                                        <input type="password" class="form-control" id="recipient-name">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Loginem dla studentów jest numer albumu, natomiast dla pracowników
                                    identyfikator użytkownika z adresu e-mail - zwykle: "[ imię.nazwisko ]".<br/>
                                    
                                    W pozostałych przypadkach należy podać pełny adres skrzynki pocztowej:<br/>
                                    "[ nazwa-użytkownika ]@[ domena-poczty-PŁ ]".
                                </p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
            <button type="button" class="btn btn-info">Login</button>
        </div>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>$(document).ready(function() {
        $('.login-modal').click(function(){
            console.log('elo')
            $('#myModal').css('z-index', '2')
        })
        
    })
        
    </script>
  </body>
</html>